<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Danh sách người dùng</title>
</head>
<body>
<h3> <a href="/create">Thêm mới</a> </h3>
<h1>Danh sách người dùng</h1>
<table border="1px">
  <thead>
  <tr>
    <th>ID</th>
    <th>Họ</th>
    <th>Tên</th>
    <th>Tuổi</th>
    <th>Email</th>
    <th>Thao tác</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${user}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.firstname}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.email}"></td>
    <td>
   <a th:href="@{/edit-user/__${user.id}__ }" >Sửa</a> ||
  <a th:href="@{/delete-user/__${user.id}__ }"onclick="return confirm('Bạn có chắc chắn muốn xóa không ???')">Xóa</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>